<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
  </head>
  <body>
    <!-- </!-- Balance: <p id="balance"></p> --> -->
    <!-- <section id="section" hidden="true"> -->
    <section class="bankSection">
      <h2>Balance</h2>
    <p id="balance"></p>
      <form class="" action="create" method="POST">
        <input type="text" name="name" value="" placeholder="name">
        <input type="number" name="balance" value="" placeholder="deposit required">
        <button type="submit" id="create">create</button>
      </form>
    <!-- </section> -->
    <!-- <form  action="deposit" method="post"> -->
      <input type="number" name="amount" id="amount" required>
      <button id="deposit" type="submit">deposit!</button>
    <!-- </form> -->
      <!-- <input type="number" id="amount" required>
      <button id="deposit" type="button">deposit!</button> -->
      <!-- <button type="button">withdrawl!</button> -->
      <button class="deleteButton" type="button" id="delete" name="button">delete account!</button>

      </section>
    <script type="text/javascript" src="/main.js"></script>
  </body>
</html>
